@{
    this.ViewData["Title"] = "Messages";
}
<style>

</style>
<div class="container p-4">
</div>
<body>
    <div class="content container-fluid p-1 row">
        @*<div class="p-1 form-control row">*@
        <div aria-label="" role="navigation" class="col-md-2 p-1  overflow-auto">
            <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div>
            @*<div></div>*@
             <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 ">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div>
            @*<div></div>*@
            
        </div>
        <div role="main" class="col-md-10  border-top border border-secondary p-0 d-flex  flex-column   flex-row flex-fill  min-vh-75 overflow-auto">
            <a class="nav-link text-dark  d-inline-flex border w-100 btn-light position-fixed" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                <div class="row">
                    <div class="offset-1">@User.Identity.Name</div>
                    <div class="offset-1">
                        <i class="fas fa-history end-100">45min ago</i>
                    </div>
                </div>
            </a>
            <div class="p-3">

            </div>
            <div class="container form-control overflow-auto p-5">
                <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>
                @*<div></div>*@
                    <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>
                @*<div></div>*@
            </div>
            <div class="mt-auto">
                <form class="d-flex m-lg-5 border-top popover-body ">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info fas fa-search" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</body>
@*
    <div class="container-fluid">
    <div class="list-group rounded-0 me-lg-2">
    <a class="list-group-item list-group-item-action active text-white rounded-0">
    <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">25 Dec</small>
    </div>
    <div class="media-body ml-4">
    <div class="d-flex align-items-center justify-content-between mb-1">
    </div>
    <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>
    </a>
    <div class="col-6">here is 8</div>
    <div class="col-2">here is 2</div>
    </div>
    </div>*@