@using PetsFriends.Web.ViewModels.Message
@model MessageViewModel
@{
    this.ViewData["Title"] = "Messages";
}
<style>
 

    .messages {
        max-height: 910px;
          overflow-x:auto;
    }
</style>

<div class="container p-4">
</div>
<body class="overflow-hidden">
    <div class="content container-fluid p-3 row bg-white " >
        <div  class="messages container col-md-2 p-1 " id="messages" >
            <div class="btn-outline-info border border-info w-100 rounded-pill ">
                 @if(User.Identity.Name == Model.SenderPet.UserName)
                 {
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2 " asp-area="" asp-controller="Profile" asp-action="MyProfile" title="Profile">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1 text-danger" id="sender">@Model.SenderPet.UserName</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>@Model.MessageText...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
                  }
                else{
                            <a class="nav-link text-dark rounded-circle d-inline-flex p-2 " asp-area="" asp-controller="Profile" asp-action="USerById"asp-route-id="@Model.SenderPet.UserName" title="Profile">
                             <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1 text-danger" id="sender"><a asp-area="" asp-controller="Profile" asp-action="USerById"asp-route-id="@Model.SenderPet.UserName">@Model.SenderPet.UserName</a></div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>@Model.MessageText...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
                     }
            </div>
             <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">

                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-warning border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1 text-primary">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div> <div class="btn-outline-info border border-info w-100 my-1 rounded-pill">
                <a class="nav-link text-dark rounded-circle d-inline-flex p-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                    <div class="row">
                        <div class="offset-1">@User.Identity.Name</div>
                        <div class="offset-1">
                            <div class="d-inline-flex">
                                You:&nbsp
                            </div>Zdravei kak si...&nbsp&nbsp&nbsp&nbsp
                            <i class="fas fa-history">45</i>
                        </div>
                    </div>
                    <div class="row d-flex">
                    </div>
                </a>
            </div>
            @*<div></div>*@
            
        </div>
        <div role="main" id="messages" class="col-md-10  border-top border border-secondary p-0 d-flex  flex-column   flex-row flex-fill  min-vh-75 overflow-auto bg-dark">
            <div class="">

            <div class="nav-link text-dark  d-inline-flex border w-100 btn-light position-fixed" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="50" height="50" asp-append-version="true">
                <div class="row">
                    <a class="offset-1">@Model.SenderPet.UserName</a>
                    <div class="offset-1">
                        <i class="fas fa-history end-100">45min ago</i>
                    </div>
                </div>
            </div>
            </div>
            <div class="p-3">

            </div>
            <div class="messages container form-control overflow-auto p-5" id="demo-chat-body">
                <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2"id="messagesList">
                        @if (Model.Messages != null && Model.Messages.Count != 0)
                        {
                            @foreach (var message in Model.Messages)
                            {
                                @if (message.ReciverPet.UserName == Model.ReciverPet.UserName &&  message.Pet.UserName != Model.ReciverPet.UserName)
                                {
                                    <h6 class="rounded-pill p-1 text-center">@message.Content<i class="fa fa-clock-o fa-fw"></i> @message.SendedOn</h6>
                                     
                                }
                            }
                        }
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>
                @*<div></div>*@
                    <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                </div>     <div class="left side row w-50 btn-info border border-top border-secondary p-0  rounded-pill m-1">
                    <div class="col-md-1">
                        <a class="nav-link text-dark w-25 " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                </div>

                <div class="right side  btn-warning w-50 border border-top border-secondary p-0  rounded-pill row col-rol ml-auto float-end m-1">
                    <div class="col-md-10 p-2">
                        <h6 class="rounded-pill align-content-center p-1 text-center">точно това имам впредвид, нали постоянно се извлича информация от на марк базаданните или в случая се продава, в dark web там ако някой ти я е купил за смешни пари и да си влиза</h6>
                    </div>
                    <div class="col-md-1 offset-0">
                        <a class="nav-link text-dark w-25" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                        </a>
                    </div>
                @*<div></div>*@
            </div>
             <div onclick="scrollChatToBottom()" class="back-to-bottom-chat-body" id="scrollBottomButton">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <input id="messagesSkipCount" type="hidden" value="@this.Model.Messages.Count" />

            <div class="w-75 row offset-1">
                @*<form class="d-flex m-lg-5 border-top popover-body">*@
                    <input class="form-control" placeholder="Type Here"  id="messageinput" />
                    <button class="btn btn-info fas fa-solid fa-bucket btn btn-info btn-block"  id="sendButton"></button>
                    @*<a class="btn btn-info fas fa-bucket btn btn-info btn-block" asp-area"" asp-controller="Messages" asp-action="SendMessage" type="submit" id="sendButton"></a>*@
                @*</form>*@
            </div>
                </div>
        </div>
    </div>
</body>
@section Scripts{
    <script src="~/js/Hub/MessageChat.js"></script>
    <script src="~/js/Hub/chatPerformanceScript.js"></script>
}