@*@model PostListViewModel*@
@using PetsFriends.Common
@*@using PetsFriends.Web.ViewModels.Home*@
@using PetsFriends.Web.ViewModels.Search
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/regular.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*style="background-color: #0DCAF0;"*@
        <nav class="navbar fixed-top p-0 m-0 navbar-expand-sm navbar-light  bg-white border-bottom box-shadow mb-3 col border border-info">
            @*<div class="container">*@
            @* <a class="navbar-brand" href="#">
                </a>*@
            <a class="nav-link text-dark p-0" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo image/logo.png" alt="" width="37" height="37" />
            </a>
            @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>*@
                   @* //<button class="btn btn-info fas fa-search searchButton" type="submit"></button>
                    //    <a class="nav-link text-dark btn btn-outline-secondary-50 fas fa-bars " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" data-bs-toggle="dropdown" aria-expanded="false">
                    //    </a>*@
            <form class="d-flex" id="searchDiv">
                <li class="nav-item btn  dropdown rounded-circle m-1 p-0 w-100">
                    
                    <input class="form-control " id="Search" type="search" placeholder="Search" aria-label="Search" data-bs-toggle="dropdown" aria-expanded="false"onclick="SearchPeople()"/>
                   @* @foreach (var searchList in Model.SearchLists)
                    {*@
                            <ul class="searchResult dropdown-menu dropdown-menu-lg-end w-100 Search">
                                <li>
                                    <a class=" btn btn-info btn-outline-warning w-100" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                    Hi There
                                    </a>
                                </li>
                                <li>
                                    <a class=" btn btn-info btn-outline-warning w-100" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                        <button type="submit" class="dropdown-item  btn btn-info">Logout</button>
                                    </a>
                                </li>
                            </ul>
                        @*}*@
                    @*}*@
                </li>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-25">
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse align-items-center">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item btn btn-outline-info">
                        <a class="nav-link text-dark fas fa-home btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                    </li>
                    <li class="nav-item btn btn-outline-info">
                        <a class="nav-link text-dark fas fa-paw btn btn-warning" asp-area="" asp-controller="Home" asp-action="Index"></a>

                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                </ul>
            </div>
            @*</div>*@
        </nav>
    </header>

    @*<div class="container p-5">*@
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>
    @*</div>*@

    <footer class="border-top  text-muted alert-light bg-info fixed-bottom ">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/SignalR/jquery.signalR.js" asp-append-version="true"></script>
    <script src="~/lib/SignalR/jquery.signalR.min.js" asp-append-version="true"></script>
    <script src="~/js/InfiniteScroll.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    var searchMore = $("#searchMore");
    var search = $("#Search");
    var searchDiv = $("#searchDiv");
    var searchButton = $(".searchButton");
    var searchResult = $("#searchResult");
    $(document).ready(function () {
        //function Contains(model){
        //    //if(textOne.indexOf(textTwo)!= -1)
        //    //return true;
        //    function Contains(model){
        //    if(model)!= null)
        //    return true;
        //}
        $("Search").keyup(function () {
            var searchWord = $("Search").val().toLowerCase();
            $(".Search").each(function (){
                if(!Contains($(this).text().toLocaleLowerCase(),searchWord)){
                    $(this).hide();
                }
                else{
                    $(this).show();
                }
            })
        })
    });
    $(search).click(function (e) {
        $(searchDiv).show();
        $(searchButton).show();

        e.stopPropagation();
    })


    $(searchResult).click(function (e) {
        e.stopPropagation();
    })

    $(searchButton).click(function (e) {
        e.stopPropagation();
    })

    $(document).click(function (e) {
        $(searchDiv).hide();
        $(searchButton).hide();
    });
        function SearchPeople() {

        if ($(Search).is(":hidden")) {
            return;
        }
        if (searchIndex.length) {
            let url = "/Search/Search";
            window.location.assign(url);
        }

        let url = '/Search/Search';
        let s = search.val();

        searchResult.html(spinnerGrow);
        console.log(s);

        let params = {
           arguments: s
        };

        $.ajax({
            type: 'POST',
            url: url,
            data: params,
            success: function (res) {
                searchResult.html(res);
            }
        });
    }
    function UpdateUrl() {
        $(searchMore).attr("href", "/Search/Search");
        let t = search.val().trim();
        if (t.length > 0) {
            searchMore.show();
            searchMore.text('Search more ' + search.val());
        } else {
            searchMore.hide();
        }
    }

    //$(search).keypress(function (e) {
    //    if (e.which == 13) {
    //        SearchPeople();
    //    }
    //});


    //// bootstrap tooltip on hover
    //$(function () {
    //    $('[data-toggle="tooltip"]').tooltip()
    //});


    //$(".nav-icon-default").click(function () {             // when clicking any of these links
    //    $(".nav-icon-default").removeClass("nav-icon");   // remove highlight from all links
    //    $(this).addClass("nav-icon");                     // add highlight to clicked link
    //})

    //window.addEventListener("load", () => {
    //    CountNotifications();
    //});
    // var searchIndex = $('#SearchIndex');


    //function SearchPeople() {

    //    if ($(searchDiv).is(":hidden")) {
    //        return;
    //    }
    //    if (searchIndex.length) {
    //        let url = "/Search/Search" + search.val();
    //        window.location.assign(url);
    //    }

    //    let url = '/Search/Search';
    //    let s = search.val();

    //    searchResult.html(spinnerGrow);
    //    console.log(s);

    //    let params = {
    //       searchViewModel.Username : s
    //    };

    //    $.ajax({
    //        type: 'POST',
    //        url: url,
    //        data: params,
    //        success: function (res) {
    //            searchResult.html(res);
    //        }
    //    });
    //}

    //function UpdateUrl() {
    //    $(searchMore).attr("href", "/Search/Search(search.val())" + search.val());
    //    let t = search.val().trim();
    //    if (t.length > 0) {
    //        searchMore.show();
    //        searchMore.text('Search more ' + search.val());
    //    } else {
    //        searchMore.hide();
    //    }
    //}

    //function LogOut() {
    //    if (confirm('Want to Log out, are you sure?')) {
    //        let url = 'Account/LogOut/';

    //        $.ajax({
    //            url: url,
    //            success: function () {
    //                window.location.assign("/Home/Index");
    //            }
    //        })
    //    }
    //}

</script>