@using PetsFriends.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/regular.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" asp-append-version="true" />
</head>

<body>
    <header>
        @*style="background-color: #0DCAF0;"*@
        <nav class="navbar fixed-top p-0 m-0 navbar-expand-sm navbar-light  bg-white border-bottom box-shadow mb-3 col">
            @*<div class="container">*@
            @* <a class="navbar-brand" href="#">
                </a>*@
            <a class="nav-link text-dark p-0" asp-area="" asp-controller="Home" asp-action="Index">
                 <img src="~/images/logo image/logo.png" alt="" width="37" height="37"/></a>
            @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>*@
            <form class="d-flex ">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-info fas fa-search" type="submit"></button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-25">

            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item btn btn-outline-info">
                        <a class="nav-link text-dark fas fa-home btn btn-warning " asp-area="" asp-controller="Home" asp-action="Index"></a>
                    </li>
                     <li class="nav-item btn btn-outline-info">
                        <a class="nav-link text-dark fas fa-paw btn btn-warning" asp-area="" asp-controller="Home" asp-action="Index"></a>

                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>*@
                </ul>
            </div>
            @*</div>*@
        </nav>
    </header>

    @*<div class="container p-5">*@
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 btn-dark">
            @this.RenderBody()
        </main>
    @*</div>*@

    <footer class="border-top  text-muted alert-light bg-white">
        <div class="container">
             <a class="nav-link text-dark p-0 d-lg-inline" asp-area="" asp-controller="Home" asp-action="Index">
                 <img src="~/images/logo image/logo.png" alt="" width="47" height="47"/></a>
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>


