@using PetsFriends.Common
@using PetsFriends.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav p-0">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        @*Hello @this.User.Identity.Name!*@
        <a class="nav-link text-dark rounded-circle" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <img class="img roundet-circle rounded-circle align-middle border-5" src="/images/logo image/IMG_1255.png" width="35" height="35" asp-append-version="true">
        </a>
        <li class="nav-item btn  dropdown rounded-circle">
            <a class="nav-link text-dark btn btn-warning fas fa-comment-dots position-relative rounded-circle" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" data-bs-toggle="dropdown" aria-expanded="false">
                @*<button type="button" class="btn btn-warning fas fa-comment-dots position-relative">*@
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99
                    <span class="visually-hidden">unread messages</span>
                </span>
                @*</button>*@
            </a>
             <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                    <form class="nav-link btn btn-warning p-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <a class="nav-link text-dark btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item btn  dropdown rounded-circle">
            <a class="nav-link text-dark btn btn-info fas fa-bell position-relative rounded-circle" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" data-bs-toggle="dropdown" aria-expanded="false">
                @*<button type="button" class="btn btn-warning fas fa-comment-dots position-relative">*@
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99
                    <span class="visually-hidden">unread messages</span>
                </span>
                @*</button>*@
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                    <form class="nav-link btn btn-info" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
                <li><a class="dropdown-item h-25" href="#">Another action</a></li>
                <li>
                    <a class="nav-link text-dark btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item btn dropdown ">
            <a class="nav-link text-dark  btn btn-warning fas fa-caret-down rounded-circle" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end ">
                <li>
                    <form class="nav-link btn btn-info p-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
                <li><a class="dropdown-item h-25" href="#">Another action</a></li>
                <li>
                    <a class="nav-link text-dark btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        @*   <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
            </li>*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            @*<button type="button" class="btn btn-primary">Primary</button>*@
            <a class="nav-link  btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
