@model UserByIdViewMoodel
@using PetsFriends.Common
@using PetsFriends.Web.Extension
@using PetsFriends.Web.ViewModels.Home
@using PetsFriends.Web.ViewModels.Post
@using PetsFriends.Web.ViewModels.Profile
@{
    this.ViewData["Title"] = "My Profile";
}
<style>
    .containerscroll {
        overflow-: hidden;
    }

    .posts {
        max-height: 1650px;
        overflow-x: auto;
    }

    .input {
        display: none;
    }

</style>

<div class="containerscroll container">
    <div class="containerscroll container">
        <div class="containerscroll container">
            <div class="containerscroll container">
                <div class="containerscroll container">
                    <div class="containerscroll container p-1" style="overflow-y:hidden">
                        <form method="post" enctype="multipart/form-data">
                            <div class="parrent container-fluid row">
                                <div class="col-6 row offset-0 bg-info w-50">
                                    @if (Model.CoverPicturesLeft.Count() <= 0 || Model.CoverPicturesLeft == null)
                                    {
                                        <img src="~/images/CoverPicture/defaultCoverPictureLeft.jpg" class="parent d-block w-100 h-100" alt="...">
                                    }
                                    else
                                    {
                                        <img src="@Model.CoverPicturesLeft.OrderBy(x=>x.CreatedOn).First().Bytes.RenderPicture()" class="parent d-block w-100 h-100" alt="...">
                                    }
                                   
                                </div>
                                <div class="col-6 row bg-info" type="submit">
                                    @if (Model.CoverPicturesRight.Count() <= 0)
                                    {
                                        <img src="~/images/CoverPicture/cverPictureRight.jpg" class="d-block w-100 h-100" alt="...">
                                    }
                                    else
                                    {
                                        <img src="@Model.CoverPicturesRight.OrderBy(x=>x.CreatedOn).First().Bytes.RenderPicture()" class="d-block w-100 h-100" alt="...">
                                    }
                                    <a class="nav-link   d-inline-flex position-absolute p-5 m-0" method="post" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Create post">
                                       
                                </div>
                            </div>
                        </form>
                        <div class="container   row p-0  h-25">
                            <div class="container-fluid  col-9 d-inline-flex border  offset-1 w-75">
                                <div class="col-1 row offset-5">
                                    @if (Model.ProfilePictures.Count() <= 0)
                                    {
                                        <a class="nav-link text-dark rounded-circle rounded-circle d-inline-flex  p-0 m-0" asp-controller="Image" asp-action="ImageById" asp-route-id="@Model.ProfilePictures.OrderBy(x=>x.CreatedOn).First().Id">
                                            <img class="imga roundet-circle roundet-circle align-middle border-5 offset-3 p-0 m-0" src="/images/logo image/IMG_1255.png" width="110" height="110" asp-append-version="true">
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0">
                                            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="@Model.ProfilePictures.OrderBy(x=>x.CreatedOn).First().Bytes.RenderPicture()" width="110" height="110" asp-append-version="true">
                                        </a>
                                    }
                                   
                                </div>

                                 <div class="col-4 row p-1 offset-1 d-inline-flex">
                                    <h5>@User.Identity.Name</h5>
                                    <h6>My PetsFriends</h6>
                                    <div class="col-1">
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 m-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <img class="imga roundet-circle rounded-circle align-middle border-5 offset-4 p-0 m-0" src="/images/logo image/IMG_1255.png" width="30" height="30" asp-append-version="true">
                                        </a>
                                    </div>
                                 <div class="col-1">
                                        <a class="nav-link text-dark rounded-circle d-inline-flex  p-0 mx-4" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    <img class="imga roundet-circle rounded-circle align-middle border-5  p-0" src="/images/logo image/logo.png" width="45" height="45" asp-append-version="true">
                                        </a>
                                </div>
                            </div>
                                <div class="col-4 row">
                                </div>
                        </div>
                        <div class="w-25 p-2">
                            <h1> </h1>
                        </div>
                       
                    </div>
                    <div class="row-cols-5">
                    </div>
                  
                    <div class="container p-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="container-md border  border-info align-items-center rounded-3 w-100">
                                    <div class="col col w-100 text-center  p-2 ">
                                        <h3 class="text-center rounded-pill btn-light">Information About me</h3>
                                    </div>
                                    <div class="col w-100 text-center  p-2">
                                        <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                                            <h5 class="text-center ">Information About me</h5>
                                        </a>
                                    </div>
                                    <div class="col w-100 align-content-center  p-2">
                                        <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                                            <h5 class="text-center ">Information About me</h5>
                                        </a>
                                    </div> <div class="col w-100 align-content-center  p-2">
                                        <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                                            <h5 class="text-center ">Information About me</h5>
                                        </a>
                                    </div> <div class="col w-100 align-content-center  p-2">
                                        <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning" asp-area="" asp-controller="Home" asp-action="Index">
                                            <h5 class="text-center ">Information About me</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="w-25 p-3">
                                    <h1> </h1>
                                    <h1> </h1>
                                </div>
                                <div class="container-md border border-info align-items-center rounded-3 w-100">
                                    <div class="container-fluid row w-100 text-center  p-2 h-25">
                                        <h3 class="text-center rounded-pill btn-light w-50 m-1">My images</h3>
                                        <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning row w-50 h-25" asp-area="" asp-controller="Home" asp-action="Index">
                                            See all Images
                                        </a>
                                    </div>
                                    <div class=" col  d-inline-flex  w-100">
                                        <img class="img-fluid h-100" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                        <img class="img-fluid mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                        <img class="img-fluid mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                    </div>
                                    <div class=" col d-inline-flex  w-100">
                                        <img class="img-fluid" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                        <img class="img-fluid mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                        <img class="img-fluid mx-1 " src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                    </div>
                                    <div class=" col d-inline-flex  w-100">
                                        <img class="img-fluid " src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                        <img class="img-fluid mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                        <img class="img-fluid mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                    </div>
                                </div>
                                <div class="w-25 p-3">
                                    <h1> </h1>
                                    <h1> </h1>
                                </div>
                                <div class="container-md border  border-info align-items-center rounded-3 w-100">
                                    <div class="row w-100 text-center  p-2 h-25">
                                        <h3 class="text-center rounded-pill btn-light w-50 m-1">My PetsFriends</h3>
                                        <a class="nav-link text-dark rounded-pill border border-info btn-outline-warning row w-50 h-25" asp-area="" asp-controller="Home" asp-action="Index">
                                            See all PetsFriends
                                        </a>
                                    </div>
                                    <div class=" col  d-inline-flex  w-100">
                                        <a class="" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid w-100" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        @* <img class="img-flui mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">
                                            <img class="img-flui mx-1" src="/images/logo image/IMG_1255.png" width="33%" height="155" asp-append-version="true">*@
                                    </div>
                                    <div class=" col d-inline-flex  w-100 py-1 ">
                                        <a class="" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid w-100" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                    </div>
                                    <div class=" col d-inline-flex  w-100">
                                        <a class="" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid w-100" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                        <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index" title="@User.Identity.Name">
                                            <img class="img-fluid" href="" src="/images/logo image/IMG_1255.png" asp-append-version="true">
                                        </a>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="posts col-6  offset-0">
                                <div class="form-control  navbar-collapse btn btn-info  rounded-pill offset-0">
                                    
                                </div>
                                <div class="p-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section  Scripts {
<script src="~/js/InfiniteScroll.js"></script>
<script src="~/js/InfiniteScroll.js"></script>
<script>
    var infinityScroll = new InfinitiySroll("posts", "/Home/_InfiniteScrollPostsPartial", { sortOrder: "ascending", searchString: "5" });
</script>
}
